* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    /* min-height: 150vh;  this only when header and footer is included*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    place-items: center;
    position: relative;
}

login-signup {
    width: 40%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    place-items: center;
}

login-signup .flip {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    place-items: center;
    background: transparent;
    perspective: 1000px;
}

.flip .flip-inner {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-inner .login,
.flip-inner .signup {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .6);
    backdrop-filter: blur(40px);
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
    position: relative;
    background-color: rgba(39, 39, 39, 1);
}

.img {
    position: absolute;
    top: -50px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    place-items: center;
    border: none;
}

.img img {
    border-radius: 50%;
    height: 95px;
    width: 100px;
    border: none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .3);
}

.signup form {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-evenly;
}

.signup form div {
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: column;
    color: rgb(248, 164, 95);
}

.sex-div {
    width: 100%;
    height: 100%;
    /* there is some other thing must be done to this line of code to be correct */
}

.sex-div select {
    height: 3em;
    background: url("../image/sex.png") 99%/15% no-repeat transparent;
    background-size: 5%;
    filter: invert(100%);
    color: black;
    font-size: 1em;
    margin-top: 2px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(47, 130, 185);
    letter-spacing: .2em;
    padding: .5em 0;
    appearance: none;
}

.sex-div select option {
    /* background: transparent; */
    color: black;
    border: none;
    outline: none;
    background-color: rgb(133, 92, 30);
}

.button {
    width: 80%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    gap: .3em;
}

.button input {
    width: 100%;
    padding: 4px 0;
    border: none;
    color: #fff;
    font-size: 1em;
}

.submit-btn {
    background-color: rgb(253, 140, 47);
}

.reset {
    background-color: rgb(253, 140, 47);
}

.toLogin {
    width: 60%;
    margin-bottom: .5em;
    display: flex;
    justify-content: center;
    place-items: center;
}

.toLogin button {
    width: 100%;
    padding: 2px 0;
    background-color: rgb(167, 206, 61);
    border: none;
    font-size: 1em;
    color: #fff;
}

.inpu {
    width: 100%;
    padding: 5px 0;
    margin-top: .3em;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(253, 140, 47);
    color: #fff;
    font-size: 1em;
    letter-spacing: 1.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
    position: relative;
    transform: rotateY(180deg);
    background-color: rgba(39, 39, 39, 1);
}

.login form {
    width: 100%;
    height: 70%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.login form div {
    width: 80%;
    height: fit-content;
    padding: 1em 0;
    color: rgb(253, 140, 47, .8);
}

.login form .buttons {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.login form .buttons input {
    padding: 3px 0;
    font-size: 1em;
    background-color: rgb(253, 140, 47);
    color: #fff;
    border: none;
}

.login .toSignup {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: center;
    place-items: center;
}

.login .toSignup button {
    width: 80%;
    border: none;
    background: transparent;
    background-color: rgba(255, 0, 0, .5);
    height: 2em;
    font-size: 1em;
    color: #fff;
}

@media(max-width:1000px) {
    login-signup {
        width: 60%;
    }
}

@media(max-width:750px) {
    login-signup {
        width: 70%;
    }
}