* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
}

:root {
    color: #02124d;
}


/* begining of image coloring */

.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.opacity {
    filter: opacity(80%);
}


/* end of image coloring */

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(15em, 1fr) minmax(30em, 3fr);
    grid-template-rows: 2fr 2fr .2fr;
    grid-template-areas: "header hero" "header content" "footer footer";
}

img {
    width: 5em;
    height: auto;
}

button,
a {
    cursor: pointer;
}

.menu-btn,
.close-btn {
    display: none;
}

header {
    grid-area: header;
    background-color: #02124d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

header .svg {
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

header .svg img {
    width: 80%;
    height: auto;
}

header .svg .title h2 {
    color: aliceblue;
    font-size: 1.5em;
    padding: .2em 1.5em;
    position: relative;
    z-index: 0;
}

header .svg .title h2::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(90, 41, 8);
    z-index: -1;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    border-top: 1px solid aliceblue;
    border-right: 1px solid aliceblue;
    /* border-left: 1px solid aliceblue; */
}

header nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

header nav .nav-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header nav .nav-wrapper ul {
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: .5em;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    list-style: none;
}

header nav .nav-wrapper ul li {
    width: 100%;
    height: 15%;
}

header nav .nav-wrapper ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: all ease .35s;
    color: #7d91d8;
}

header nav .nav-wrapper ul li a:hover {
    background-color: aliceblue;
    border-radius: 20px;
    color: #02124d;
}

.hero {
    grid-area: hero;
    padding: 1em 0;
    background-image: url("../image/f2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    place-items: center;
}

.hero .hero-cont {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
}

.hero .hero-cont .header {
    width: 70%;
    height: 20%;
    color: rgb(180, 183, 185);
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 1.5em;
}

.hero .hero-cont .question {
    color: rgb(176, 177, 179);
}

.hero .hero-cont article {
    width: 90%;
    text-align: center;
    color: #909fd3;
}

.hero .hero-cont .reg-button button {
    padding: 1em 2em;
    border: none;
    background-color: #02124d;
    color: rgb(210, 212, 216);
    border-radius: 4px;
    font-size: .9em;
    transform-origin: center;
    transition: all ease .33s;
}

.hero .hero-cont .reg-button button:hover {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .4);
}

.description {
    grid-area: content;
    padding: 0 .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    background-color: rgba(218, 167, 73, 0.75);
}

.description .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .1em;
    place-items: center;
}

.description .cont .small {
    font-size: 1em;
    color: rgb(43, 120, 235);
}

.description .cont .big {
    font-size: 1.2em;
    color: #02124d;
}

.description .cont article {
    font-size: .9em;
    text-align: center;
    color: #15255e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.registration-button {
    margin-top: .3em;
}

.registration-button button {
    padding: .6em 3em;
    border: none;
    background-color: #02124d;
    color: #afbceb;
    font-size: .9em;
    transform-origin: center;
    transition: all ease .35s;
    border-radius: 4px;
}

.registration-button button:hover {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
}

footer {
    grid-area: footer;
    background-color: #02124d;
    padding: .5em;
}

footer nav {
    width: 100%;
    height: 100%;
    margin: 0;
}

footer nav ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type: none;
}

footer nav ul li {
    width: 100%;
    height: 100%;
    margin: 0 1em;
}

footer nav ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(119, 117, 117, 0.9);
}

footer nav ul li a img {
    width: 3em;
    height: auto;
    filter: invert(50%);
}