* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
    transition: all ease .10s;
}

:root {
    color: #02124d;
}


/* begining of image coloring */

.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.opacity {
    filter: opacity(80%);
}


/* end of image coloring */

body {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(15em, 1fr) minmax(30em, 3fr);
    grid-template-rows: 2fr 2fr .2fr;
    grid-template-areas: "header hero" "header description" "footer footer";
    background-color: rgb(110, 113, 114);
}

img {
    width: 5em;
    height: auto;
}

button,
a {
    cursor: pointer;
}

.menu-btn,
.close-btn {
    display: none;
}

header {
    grid-area: header;
    background-color: #02124d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

header .svg {
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

header .svg img {
    width: 80%;
    height: auto;
}

header .svg .title h2 {
    color: aliceblue;
    font-size: 1.5em;
    padding: .2em 1.5em;
    position: relative;
    z-index: 0;
}

header .svg .title h2::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(90, 41, 8);
    z-index: -1;
    clip-path: polygon(0 0, 50% 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    border-top: 1px solid aliceblue;
    border-right: 1px solid aliceblue;
}

header nav {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

header nav .nav-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
}

header nav .nav-wrapper ul {
    width: 100%;
    height: 80%;
    display: flex;
    margin-top: .5em;
    flex-direction: column;
    justify-content: space-evenly;
    place-items: center;
    list-style: none;
}

header nav .nav-wrapper ul li {
    width: 100%;
    height: 15%;
}

header nav .nav-wrapper ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    text-decoration: none;
    font-size: 1.2em;
    transition: all ease .35s;
    color: #7d91d8;
}

header nav .nav-wrapper ul li a:hover {
    background-color: aliceblue;
    border-radius: 20px;
    color: #02124d;
}

.hero {
    grid-area: hero;
    padding: 1em 0;
    background-image: url("../image/f2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    place-items: center;
}

.hero .hero-cont {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
}

.hero .hero-cont .header {
    width: 70%;
    height: 20%;
    color: rgb(180, 183, 185);
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 1.5em;
}

.hero .hero-cont .question {
    color: rgb(176, 177, 179);
}

.hero .hero-cont article {
    width: 90%;
    text-align: center;
    color: #909fd3;
}

.hero .hero-cont .reg-button button {
    padding: 1em 2em;
    border: none;
    background-color: #02124d;
    color: rgb(210, 212, 216);
    border-radius: 4px;
    font-size: .9em;
    transform-origin: center;
    transition: all ease .33s;
}

.hero .hero-cont .reg-button button:hover {
    box-shadow: 0 0 15px 3px rgba(3, 3, 3, 0.4);
}

.description {
    grid-area: description;
    padding: 0 .5em;
    display: flex;
    justify-content: space-between;
    place-items: center;
    background-color: rgb(174, 176, 179);
    clip-path: polygon(0 0, 35% 0, 38% 7%, 41% 0, 100% 0, 100% 100%, 0 100%);
}

.description .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .1em;
    place-items: center;
}

.description .cont .small {
    font-size: 1em;
    color: rgb(43, 120, 235);
}

.description .main-header .big {
    font-size: 1.2em;
    color: #02124d;
}

.main-header {
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.article {
    width: 60%;
    height: 100%;
}

.description .cont article {
    font-size: .9em;
    color: #15255e;
    margin-top: .7em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.registration-button {
    margin-top: .3em;
    margin-left: auto;
}

.registration-button button {
    padding: .6em 3em;
    border: none;
    background-color: #02124d;
    color: #afbceb;
    font-size: .9em;
    transform-origin: center;
    transition: all ease .35s;
    border-radius: 4px;
}

.registration-button button:hover {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .5);
}

footer {
    grid-area: footer;
    background-color: #02124d;
    padding: .5em;
}

footer nav {
    width: 100%;
    height: 100%;
    margin: 0;
}

footer nav ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type: none;
}

footer nav ul li {
    width: 100%;
    height: 100%;
    margin: 0 1em;
}

footer nav ul li a {
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(119, 117, 117, 0.9);
}

footer nav ul li a img {
    width: 3em;
    height: auto;
    filter: invert(50%);
}

@media (max-width:850px) {
    .description .main-header .big {
        font-size: 1.1em;
    }
}

@media(max-width:750px) {
    body {
        min-height: 120vh;
        display: grid;
        grid-template-columns: [begin] 1fr [col-end];
        grid-template-rows: [hero-begin] .5fr [header-end] 40vh [hero-end-cont-begin] 50vh [cont-end-footer-begin] auto [page-end];
        position: relative;
        background-color: rgb(70, 72, 73);
    }
    header {
        grid-column: begin/col-end;
        grid-row: hero-begin/header-end;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: transparent;
    }
    header .svg {
        width: 20%;
        order: 2;
        margin-right: 10%;
    }
    header .svg img {
        width: 100%;
        height: auto;
    }
    header .menu-btn {
        width: 13%;
        margin-left: 1em;
        margin-top: -5em;
    }
    header .menu-btn button {
        background: transparent;
        border: none;
    }
    header .menu-btn button img {
        width: 100%;
        height: auto;
    }
    header .nav {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: #02124d;
        transition: all ease .34s;
    }
    header .nav .nav-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
    }
    .menu-btn,
    .close-btn {
        display: block;
    }
    .close-btn {
        width: 15%;
        position: absolute;
        top: .5em;
        right: .5em;
    }
    .close-btn button {
        background: transparent;
        border: none;
    }
    .close-btn button img {
        width: 100%;
        height: auto;
    }
    header .nav .nav-wrapper ul {
        width: 80%;
        height: 45%;
    }
    header nav .nav-wrapper ul li {
        height: 10%;
    }
    .hero {
        grid-column: begin/col-end;
        grid-row: hero-begin/hero-end-cont-begin;
        background-color: rgba(0, 0, 0, .6);
    }
    .hero .hero-cont {
        margin-top: auto;
        height: 50%;
        background-color: transparent;
    }
    .hero .hero-cont .header {
        font-size: 1em;
    }
    .hero .hero-cont .reg-button button {
        padding: .5em 2em;
    }
    .description {
        grid-column: begin/col-end;
        grid-row: hero-end-cont-begin/cont-end-footer-begin;
        padding: 0 .3em;
    }
    .description .main-header .big {
        font-size: 1em;
    }
    .description .cont article {
        font-size: .8em;
        margin-top: 1em;
    }
    footer {
        grid-column: begin/col-end;
        grid-row: cont-end-footer-begin/footer-end;
        z-index: 11;
    }
}