* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    place-items: center;
}

img {
    width: 50px;
}

@media(max-width:800px) {
    .hidden {
        opacity: 0;
        z-index: -1;
    }
    my-header {
        position: fixed;
        top: 0;
        width: 80%;
        height: 20%;
        z-index: 1;
    }
    my-header header {
        width: 100%;
        height: 100%;
        background-color: rgba(66, 83, 83, .6);
        display: flex;
        justify-content: space-between;
        place-items: center;
        border-radius: 0 0 70px 70px;
        box-shadow: 0 7px 15px 3px rgba(0, 0, 0, .4);
        position: relative;
    }
    my-header header .logo {
        margin-left: 5%;
        border-radius: 50%;
    }
    my-header header .logo img {
        width: 100px;
        border-radius: 50%;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, .4);
    }
    .menu {
        width: fit-content;
        height: fit-content;
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 5%;
        transition: all .30s ease-in;
        border-radius: 10px;
    }
    .menu img {
        transform: rotate(180deg);
        filter: invert(100%);
    }
    .menu:hover {
        transform: rotate(90deg);
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
    }
    .menu:focus {
        transform: rotate(90deg);
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
    }
    nav {
        position: absolute;
        width: 70%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, .2);
        backdrop-filter: blur(30px);
        display: flex;
        right: -15%;
        top: 0%;
        display: flex;
        place-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow: -5px 0 15px 2px rgba(0, 0, 0, .3);
        transition: all ease .25s;
        /* display: none; */
    }
    nav ul {
        width: 80%;
        height: 15em;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        place-items: center;
    }
    nav ul li {
        width: 100%;
        height: 2em;
        background-color: rgba(0, 0, 0, .1);
        display: flex;
        place-items: center;
        justify-content: center;
    }
    nav ul li a {
        text-decoration: none;
        color: rgba(255, 255, 0, 1);
        width: 100%;
        display: flex;
        justify-content: center;
        place-items: center;
    }
    nav button {
        position: absolute;
        top: 1em;
        left: 1em;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    nav button img {
        filter: invert(90%);
    }
    my-footer {
        position: fixed;
        bottom: 0;
    }
}